<main id="main">

	<div class="container">

        {{ if .Site.Params.Section.Subheader.show }}
            {{ partial "subheader.html" . }}
        {{ end }}

        {{ if .Site.Params.Section.Service.show }}
            {{ partial "services.html" . }}
        {{ end }}

        {{ if .Site.Params.Section.Recentworks.show }}
            {{ if (eq .Site.Params.Section.Recentworks.type "image") }}
                {{ partial "recentworks.image.html" . }}
            {{ else if (eq .Site.Params.Section.Recentworks.type "summary") }}
                {{ partial "recentworks.summary.html" . }}
            {{ end }}
        {{ end }}

        {{ if .Site.Params.Section.Download.show }}
            {{ partial "download.html" . }}
        {{ end }}

        {{ if .Site.Params.Section.Clients.show }}
            {{ partial "clients.html" . }}
        {{ end }}

	</div>	<!-- /container -->

</main>
